* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #0d1117;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.container {
  padding: 2.4rem;
}
.container .avatars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.container .avatars img {
  width: 6.5rem;
  height: 6.5rem;
  background: linear-gradient(to left, #e1306c, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

main {
  position: relative;
  height: 90vh;
}

main img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.nav i {
  font-size: 2rem;
  opacity: 0.5;
}

.nav i:nth-of-type(3) {
  transform: translateY(-50%);
  font-size: 4.5rem;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  opacity: 0.6;
  text-align: center;
}
